<body>
  <div class="container-fluid">
    <form [formGroup]="heroForm" (ngSubmit)="onclickBecomeAHero()" novalidate>
      <div class="mb-3">
        <label class="form-label">
          <h4>
            Your Hero Name
          </h4>
        </label>
        <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp">
        <div class="invalid-feedback">Please Fill Up You Hero Name</div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          <h4>
            Your Full Name
          </h4>
        </label>
        <input type="text" class="form-control" formControlName="full_name">
      </div>
      <div class="mb-3">
        <label class="form-label">
          <h4>
            Description
          </h4>
        </label>
        <textarea type="text" rows="8" class="form-control" formControlName="description"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn">Become a Hero!</button>
      </div>
    </form>
  </div>
</body>
