.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #1976d2;
  width: 70%;
  margin-top: 6%;
  color: white;
  border-radius: 10px;
}

/*
@media (max-width: 575.98px) {
  .container-fluid {
    border: 1px solid black;
    margin-top: 20%;
  }
}

@media (max-width: 991.98px) {}

@media (min-width: 1199.98px) {
  .container-fluid {
    margin-top: 6%;
  }
} */
